<!DOCTYPE html>
<html>

<head>
  <title>Welcome to <%= appName%></title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<!--this script toggles the display of each type of list-->
<script>
  function toggleList(activeDiv) {
    const divArray = [
      "post-list-div",
      "user-list-div",
      "topic-list-div",
    ];

	//sets the selected div to display and all others to no display
    for (i = 0; i < divArray.length; i++) {
      console.log(divArray[i]);
      if (divArray[i] == activeDiv) {
        document.getElementById(divArray[i]).style.display =
          "inline";
        document.getElementById("list-heading").innerText = "List Page: " + divArray[i].charAt(0).toUpperCase() + divArray[i].substring(1, divArray[i].indexOf("-")) + "s";
      } else {
        document.getElementById(divArray[i]).style.display = "none";
      }
    }
  }
</script>

<body>
  <header>
    <nav class="topnav">
      <a class="active" href="./"><%=appName%></a>
      <a href="list">Lists</a>
      <a href="search">Search</a>
      <a href="about">About</a>
      <!--if no user, show login-->
      <% if(user == null){ %>
      <div class="account" id="login">
        <a href="login">Log in</a>
      </div>
      <!--if user exists, show logout-->
      <% } else { %>
      <div class="account" id="logout">
        <a href="logout">Logout</a>
      </div>
      <% } %>
    </nav>
  </header>
  <main>
    <main>
      <div class="main">

		<!--list page heading-->
        <h1 id="list-heading">List Page: Select a category below to list</h1>

		<!--buttons to select what type of list to display-->
        <div class="list-button-div">
          <button class="list-button" id="posts-button" onclick="toggleList('post-list-div')">
            Posts
          </button>
          <button class="list-button" id="users-button" onclick="toggleList('user-list-div')">
            Users
          </button>
          <button class="list-button" id="topics-button" onclick="toggleList('topic-list-div')">
            Topics
          </button>
        </div>

		<!--list of posts-->
        <div id="post-list-div" style="display: none">
          <% for(let i = 0; i < posts.length; i++) { %>
		  
		  <!--enclose post in a link-->
          <!--encodeURIComponent makes sure we can handle special characters-->
          <div class="f_post">

			<!--post title-->
            <a class="post-heading" href="/post?id=<%=posts[i].post_id %>&title=<%=
                encodeURIComponent(posts[i].title.replace(/\s/g,
                "-")) %>&topic=<%=posts[i].topic_name.replace(/\s/g,
                "-") %>">
              <h1 class="post_title"><%= posts[i].title %></h1>
            </a>

			<!--post author-->
            <p class="author">
              Posted by:
              <a class="username" href="user?username=<%= encodeURIComponent(posts[i].username) %>"><%= posts[i].username%></a>
            </p>

			<!--topic the post was posted in-->
            <p class="post-info">
              Topic: <a class="topic-sub-heading" href="/topic?id=<%= posts[i].topic_id
                  %>&name=<%=
                  encodeURIComponent(posts[i].topic_name.replace(/\s/g,
                  "-")) %>"><%=posts[i].topic_name%></a>
            </p>

			<!--date post was made-->
            <p class="post-info">
              Date posted: <%=posts[i].datetime%>
            </p>

			<!--post content-->
            <p class="content"><%= posts[i].content %></p>
          </div>

          <% } %>
        </div>

		<!--list of users-->
        <div id="user-list-div" style="display: none">
          <% for(let i = 0; i < users.length; i++) { %>

          <!--list the user details-->
          <div class="f_post">
            <h1 class="author">
              User:
              <a class="username" href="user?username=<%= encodeURIComponent(users[i].username) %>"><%= users[i].username%></a>
            </h1>

			<!--user signup date-->
            <p class="content">
              Signed up: <%= users[i].signup_date %>
            </p>
          </div>

          <% } %>
        </div>

		<!--list of topics-->
        <div id="topic-list-div" style="display: none">
          <% for(let i = 0; i < topics.length; i++) { %>

          <!--enclose everything in a link-->
          <!--encodeURIComponent makes sure we can handle special characters-->
          <a href="/topic?id=<%= topics[i].topic_id %>&name=<%=
						encodeURIComponent(topics[i].topic_name.replace(/\s/g,
						"-")) %>">
						
            <!--list the topic name and description-->
            <div class="f_post">
              <h1><%= topics[i].topic_name %></h1>
              <p><%= topics[i].topic_desc %></p>
            </div>
          </a>

          <% } %>
        </div>
      </div>
    </main>
  </main>
</body>

</html>