<!DOCTYPE html>
<html>
	<head>
		<title><%=postTitle%></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<nav class="topnav">
				<a class="active" href="">Home</a>
				<a href="list">Topic List</a>
				<a href="search">Search</a>
				<div class="account">
					<a href="login">Log in</a>
				</div>
			</nav>
		</header>
		<main>
			<div class="main" id="selected_post">
				<!--Creates a series of divs for the top 3 topics that are subscribed to-->
				<h1 class="post_title"><%=postTitle %></h1>
				<p class="author">Posted by: <a class="username" href="user?username=<%= encodeURIComponent(post[0].username) %>"><%= post[0].username%></a></p>
				<p class="content"><%=post[0].content%></p>
			</div>
		</main>
	</body>
</html>
