<!DOCTYPE html>
<html>
	<head>
		<title><%=appName %> : <%=topicName %> : <%=postTitle%></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<nav class="topnav">
				<a class="active" href="./"><%=appName%></a>
				<a href="list">Lists</a>
				<a href="search">Search</a>
				<a href="about">About</a>
				<!--if no user, show login-->
				<% if(user == null){ %>
					<div class="account" id="login">
						<a href="login">Log in</a>
					</div>
				<!--if user exists, show logout-->
				<% } else { %>
					<div class="account" id="logout">
						<a href="logout">Logout</a>
					</div>
				<% } %>
			</nav>
		</header>
		<main>
			<!--main post div-->
			<div class="main">
				<!--div for the main post in question-->
				<div class="selected-post">
					<!--main post details and content-->
					<h1 class="post_title"><%=postTitle %></h1>

					<!--author of post with link-->
					<p class="author">
						Posted by:
						<a
							class="username"
							href="user?username=<%= encodeURIComponent(post[0].username) %>"
							><%= post[0].username%></a
						>
					</p>
					<!--date of post-->
					<p class="post-info">
						Date posted: <%=post[0].datetime%>
					  </p>
					<!--content of post-->
					<p class="content"><%=post[0].content%></p>
				</div>

				<!--comments section-->
				<% for(i=0; i < comments.length; i++) { %> 
					<!--if the comment is replying to the post, not another comment-->
				<% if(comments[i].previous_id == null) { %>
				<div class="base-comment">

					<!--author of comment with link-->
					<p class="author">
						Posted by:
						<a
							class="username"
							href="user?username=<%= encodeURIComponent(comments[i].username) %>"
							><%= comments[i].username%></a
						>
					</p>

					<!--date comment posted-->
					<p class="post-info">
						Date posted: <%=comments[i].datetime%>
					  </p>

					  <!--comment content-->
					<p class="content"><%=comments[i].content%></p>
				</div>
				<% }else{ %>
				<div class="reply">

					<!--author of comment with link-->
					<p class="author">
						Posted by:
						<a
							class="username"
							href="user?username=<%= encodeURIComponent(comments[i].username) %>"
							><%= comments[i].username%></a
						>
					</p>
					<p class="post-info">
						Date posted: <%=comments[i].datetime%>
					  </p>
					</br>

					<!--date comment posted-->
					  <p class="quote">Replying to <%=comments[comments[i].previous_id].username%>: "<%=comments[comments[i].previous_id].content%>"</p>
					
					  <!--comment content-->
					<p class="content"><%=comments[i].content%></p>
				</div>

				<% } } %>
			</div>
			
		</main>
	</body>
</html>
