<!DOCTYPE html>
<html>
	<head>
		<title><%=appName %> : <%=topicName %></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<nav class="topnav">
				<a class="active" href="./">Home</a>
				<a href="list">Topic List</a>
				<a href="search">Search</a>
				<div class="account">
					<a href="login">Log in</a>
				</div>
			</nav>
		</header>
		<main>
			<div class="main" id="posts">
				<!--Creates a series of most recent posts for topic-->
				<h1>Welcome to <%=topicName%></h1>
				<p>Most recent posts:</p>
				<% for(let i = 0; i < posts.length; i++) { %>

					<!--enclose everything in a link-->
					<!--encodeURIComponent makes sure we can handle special characters-->
				<a
					href="/post?id=<%=posts[i].post_id %>&title=<%= encodeURIComponent(posts[i].title.replace(/\s/g, "-")) %>&topic=<%=topicName.replace(/\s/g, "-") %>"
				>
				<!--list the post details-->
				<!--todo add datetime-->
					<div class="f_post">
						<h1 class="post_title"><%= posts[i].title %></h1>
						<p class="author">Posted by: <a class="username" href="user?username=<%= encodeURIComponent(posts[i].username) %>"><%= posts[i].username%></a></p>
						<p class="content"><%= posts[i].content %></p>
					</div>
				</a>

				<% } %>
			</div>
		</main>
	</body>
</html>
